anyio @ file:///croot/anyio_1745334642479/work
anywidget @ file:///croot/anywidget_1742928005032/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///home/task_175792493682486/conda-bld/argon2-cffi-bindings_1757924953532/work
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
attrs @ file:///croot/attrs_1734533101012/work
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1756453090369/work
bleach @ file:///croot/bleach_1732290411627/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
comm @ file:///croot/comm_1709322850197/work
contourpy @ file:///croot/contourpy_1732540045555/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///home/task_175706710974480/conda-bld/debugpy_1757067125926/work
decorator @ file:///home/task_175734099691499/conda-bld/decorator_1757341236139/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///home/task_175706097783255/conda-bld/executing_1757061230504/work
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
fonttools @ file:///croot/fonttools_1737039080035/work
h11 @ file:///croot/h11_1748442006460/work
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///croot/httpx_1746747840559/work
idna @ file:///croot/idna_1714398848350/work
ipykernel @ file:///home/task_175758292827942/conda-bld/ipykernel_1757583368749/work
ipython @ file:///croot/ipython_1744912971218/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
json5 @ file:///croot/json5_1730786798687/work
jsonschema @ file:///croot/jsonschema_1753206402902/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1751991368470/work
jupyter_server @ file:///croot/jupyter_server_1751996616172/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///home/task_175812492043299/conda-bld/jupyterlab_1758124978696/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1752066547979/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.6
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mistune @ file:///croot/mistune_1741124011532/work
mkl-service==2.4.0
mkl_fft @ file:///croot/mkl_fft_1751317925336/work
mkl_random @ file:///croot/mkl_random_1751318527880/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1757782706/work
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numexpr @ file:///croot/numexpr_1755766469354/work
numpy @ file:///home/task_175766977308722/conda-bld/numpy_and_numpy_base_1757670241072/work/dist/numpy-2.3.3-cp312-cp312-linux_x86_64.whl#sha256=596a3c8431183d37c1e048e8eedca8531118ccd46a9e346906525f558e3932d5
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging @ file:///croot/packaging_1753775359799/work
pandas @ file:///croot/pandas_1756466404410/work/dist/pandas-2.3.2-cp312-cp312-linux_x86_64.whl#sha256=91f9e704d6b71af3975875fd6b728a0e7b6474d918af2f04b67d23518eb52cc6
pandocfilters @ file:///home/task_175697769885483/conda-bld/pandocfilters_1756977745951/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///croot/pexpect_1750072593878/work
pillow @ file:///croot/pillow_1752524526621/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1755067229108/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
psutil @ file:///home/task_175710406524895/conda-bld/psutil_1757104541967/work
psygnal @ file:///croot/psygnal_1742671112035/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/task_175706684826776/conda-bld/pure_eval_1757067049051/work
pycparser @ file:///home/task_175749564075091/conda-bld/pycparser_1757496039511/work
Pygments @ file:///croot/pygments_1744664109463/work
pyparsing @ file:///croot/pyparsing_1731445506121/work
PyQt5==5.15.10
PyQt5_sip @ file:///croot/pyqt-split_1736540531116/work/pyqt_sip
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytz @ file:///croot/pytz_1752135852232/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///home/task_175810350411579/conda-bld/pyzmq_1758103935618/work
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
requests @ file:///croot/requests_1756709366904/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
scipy @ file:///home/task_175731569770951/conda-bld/scipy_1757315748967/work/dist/scipy-1.16.1-cp312-cp312-linux_x86_64.whl#sha256=0cd53ef6ce046d1511d1f7c1a27899fd4bb6339cb4cc5c793380efe9ab96c772
Send2Trash @ file:///croot/send2trash_1736540790175/work
setuptools==72.1.0
sip @ file:///croot/sip_1736541134699/work
six @ file:///croot/six_1744271502820/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
stack_data @ file:///home/task_175706679004827/conda-bld/stack_data_1757067036633/work
terminado @ file:///home/task_175793482296888/conda-bld/terminado_1757934840133/work
tinycss2 @ file:///croot/tinycss2_1738337643607/work
tornado @ file:///croot/tornado_1748956929273/work
traitlets @ file:///croot/traitlets_1718227057033/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
urllib3 @ file:///croot/urllib3_1750775463400/work
wcwidth @ file:///croot/wcwidth_1750352883074/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
wheel==0.45.1
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
wrapt @ file:///croot/wrapt_1736540904746/work
